.container {
    @media (max-width: 576px) {
        padding: 0 10px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }

    @media (max-width: 992px) {
        padding: 0 18px;
    }

    @media (max-width: 1200px) {
        padding: 0 20px;
    }

    @media (max-width: 1400px) {
        padding: 0 22px;
    }

    @media (min-width: 1400px) {
        max-width: 1600px;
        padding: 0 24px;
    }
}
